/* Font sizes for reference (as I dislike using vars for them):
Headings: 64px, 50px, 42px, 36px, 28px, 24px
Body text, and monospace/pre/code: 24px
Small text: 20px */
/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Black+Han+Sans&family=Dela+Gothic+One&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+HK:wght@100;300;400;500;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
/* *** */
/* Variables */
	/* Color */
		/* Color variables */
:root {
	/* Colors by hue and brightness */
	--black: #000000;
	--blue: #f5fffb;
	--bright-red: #b0275c;
	--dark-red: #8c1f4c;
	--white: #fff5f9;
	/* Colors by function */
	--background-color: var(--white);
	--foreground-color: var(--black);
	--highlight-color: var(--dark-red);
	--border-color: var(--black);
	}
		/* *** */
		/* Light theme */
			/* Color assignment */
html[data-theme='light'] {
	--background-color: var(--white);
	--foreground-color: var(--black);
	--highlight-color: var(--dark-red);
	--border-color: var(--black);
}
			/* *** */
		/* *** */
		/* Dark theme */
			/* Color assignment */
html[data-theme='dark'] {
	--background-color: var(--black);
	--foreground-color: var(--white);
	--highlight-color: var(--blue);
	--border-color: var(--blue);
}
			/* *** */
		/* *** */
	/* *** */
	/* Fonts */
:root {
	--heading-font-family: "Archivo Black", "Black Han Sans", "Dela Gothic One", "Noto Sans HK", "Noto Sans SC", "Noto Sans TC", sans-serif;
	--body-font-family: "Archivo", "Zen Kaku Gothic Antique", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", serif;
	--small-font-family: "Archivo Narrow", "Zen Kaku Gothic Antique", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", sans-serif;
	--monospace-font-family: "Anonymous Pro", "Nanum Gothic Coding", "Zen Kaku Gothic Antique", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK", monospace;
}
	/* *** */
/* *** */
/* Colors */

html, body {
	background-color: var(--background-color);
	color: var(--foreground-color);
}
header, nav, footer {
	background-color: var(--background-color);
	color: var(--foreground-color);
}
nav > h1 {
	color: var(--foreground-color);
}
nav > h1 > a, nav > h1 > a:visited {
	color: var(--foreground-color);
}
nav > h1 > a:hover {
	color: var(--highlight-color);
	background-color: var(--background-color);
}
h1, h2, h3, h4, h5, h6 {
	color: var(--highlight-color);
}

h1 > strong {
	color: var(--foreground-color);
}
h2 > strong {
	color: var(--foreground-color);
}
h3 > strong {
	color: var(--foreground-color);
}
h4 > strong {
	color: var(--foreground-color);
}
h5 > strong {
	color: var(--foreground-color);
}
h6 > strong {
	color: var(--foreground-color);
}
p {
	color: var(--foreground-color);
}
a, a:visited {
	color: var(--highlight-color);
	text-decoration: unset;
}
a:hover {
	background-color: var(--highlight-color);
	color: var(--background-color);
	text-decoration: unset;
}
button {
	background-color: var(--background-color);
	color: var(--foreground-color);
}
button:hover, form, input, select, option {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
code, pre {
	color: var(--foreground-color);
}
hr {
	background: none;
	color: var(--foreground-color);
}
li::marker {
	color: var(--highlight-color);
}
/* Fonts */
html, body {
	font-family: var(--body-font-family);
	font-size: 24px;
}
nav {
	font-family: var(--small-font-family);
	font-size: 20px;
}
nav > h1 {
	font-family: var(--heading-font-family);
	font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--body-font-family);
	font-weight: bold;
	line-height: 1.2em;
}
h1 {
	font-size: 64px;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 42px;
}
h4 {
	font-size: 36px;
}
h5 {
	font-size: 28px;
}
h6 {
	font-size: 24px;
}
p {
	font-family: var(--body-font-family);
	font-size: 24px;
	line-height: 1.2em;
	text-align: start;
}
p > strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
code, pre {
	font-family: var(--monospace-font-family);
	font-size: 18px;
	line-height: 1em
}
hr {
	font-family: var(--body-font-family);
	font-weight: bold;
	line-height: 1.2em;
	font-size: 36px;
}
li::marker {
	font-family: var(--body-font-family);
	font-weight: normal;
	font-size: 24px;
}
/* Position, width, flex, borders, paddings, margins, etc. */
html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	min-width: 100%;
	min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding: 0px;
	text-align: left;
}
nav > h1 {
	padding: 15px 5px 15px 5px;
	margin: 0px;
}
nav > a {
	padding: 15px 5px 15px 5px;
}
p {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
}
code, pre {
	border: 1px dashed var(--border-color);
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
hr {
	border: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
}
ul {
	padding: 0px;
	margin-left: 18px;
}
li {
	padding-left: 5px;
}
.site_visible {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
.site_header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--border-color);
	justify-content: center;
	align-items: baseline;
	padding: 0px;
	margin: 0px;
}
.site_header_nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	margin: 0px;
	padding: 0px;
}
.site_content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	flex-grow: 2;
}
.site_content_left_sidebar {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-basis: 320px;
	justify-content: center;
	align-items: center;
}
.site_content_right_sidebar {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-basis: 320px;
	justify-content: center;
	align-items: center;
}
.site_content_content_bar {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 1280px;
	justify-content: space-evenly;
	align-items: flex-start;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: var(--border-color);
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: var(--border-color);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--border-color);
}
.site_article_header {
	display: block;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.site_article_header_title {
	display: block;
}
.site_article_content {
	display: block;
	max-width: 1024px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
.content_license {
	text-align: center;
}
/* Content, :after, :before */
hr::after {
	content: '⁂';
	display: block;
	text-align: center;
}
li::marker {
	content: '▪';
}
h1::before {
	content: "# ";
}
h2::before {
	content: "## ";
}
h3::before {
	content: "### ";
}
h4::before {
	content: "#### ";
}
h5::before {
	content: "##### ";
}
h6::before {
	content: "###### ";
}
