/* Font sizes for reference (as I dislike using vars for them):
Headings: 64px, 50px, 42px, 36px, 28px, 28px
Body text, and monospace/pre/code: 28px
Small text: 20px */
/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&family=Noto+Sans+TC&family=Nova+Mono&family=Stick&family=Sunflower&family=ZCOOL+QingKe+HuangYou&display=swap');
@font-face {
    font-family: 'Sans Stiefel';
    src: url('/assets/fonts/sanstiefel-webfont.eot');
    src: url('/assets/fonts/sanstiefel-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/sanstiefel-webfont.woff2') format('woff2'),
         url('/assets/fonts/sanstiefel-webfont.woff') format('woff'),
         url('/assets/fonts/sanstiefel-webfont.ttf') format('truetype'),
         url('/assets/fonts/sanstiefel-webfont.svg#sans_stiefelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* *** */
/* Variables */
	/* Color */
		/* Color variables */
:root {
	/* Colors by hue and brightness */
	--black: #000000;
	--blue: #f5fffb;
	--bright-red: #b0275c;
	--dark-red: #8c1f4c;
	--white: #fff5f9;
	/* Colors by function */
	--background-color: var(--white);
	--foreground-color: var(--black);
	--highlight-color: var(--dark-red);
	--border-color: var(--black);
	}
		/* *** */
		/* Light theme */
			/* Color assignment */
html[data-theme='light'] {
	--background-color: var(--white);
	--foreground-color: var(--black);
	--highlight-color: var(--dark-red);
	--border-color: var(--black);
}
			/* *** */
		/* *** */
		/* Dark theme */
			/* Color assignment */
html[data-theme='dark'] {
	--background-color: var(--black);
	--foreground-color: var(--white);
	--highlight-color: var(--blue);
	--border-color: var(--blue);
}
			/* *** */
		/* *** */
	/* *** */
	/* Fonts */
:root {
	--heading-font-family: "Sans Stiefel", "Stick", "Sunflower", "ZCOOL QingKe HuangYou", "Noto Sans HK", "Noto Sans TC", sans-serif;
	--body-font-family: "Sans Stiefel", "Stick", "Sunflower", "ZCOOL QingKe HuangYou", "Noto Sans HK", "Noto Sans TC", sans-serif; 
	--small-font-family: "Sans Stiefel", "Stick", "Sunflower", "ZCOOL QingKe HuangYou", "Noto Sans HK", "Noto Sans TC", sans-serif; 
	--monospace-font-family: "Nova Mono", "Sans Stiefel", "Stick", "Sunflower", "ZCOOL QingKe HuangYou", "Noto Sans HK", "Noto Sans TC", sans-serif; 
}
	/* *** */
/* *** */
/* Colors */

html, body {
	background-color: var(--background-color);
	color: var(--foreground-color);
}
header, nav, footer {
	background-color: var(--background-color);
	color: var(--foreground-color);
}
nav > h1 {
	color: var(--foreground-color);
}
nav > h1 > a, nav > h1 > a:visited {
	color: var(--foreground-color);
}
nav > h1 > a:hover {
	color: var(--highlight-color);
	background-color: var(--background-color);
}
h1, h2, h3, h4, h5, h6 {
	color: var(--highlight-color);
}

h1 > strong {
	color: var(--foreground-color);
}
h2 > strong {
	color: var(--foreground-color);
}
h3 > strong {
	color: var(--foreground-color);
}
h4 > strong {
	color: var(--foreground-color);
}
h5 > strong {
	color: var(--foreground-color);
}
h6 > strong {
	color: var(--foreground-color);
}
p {
	color: var(--foreground-color);
}
a, a:visited {
	color: var(--highlight-color);
	text-decoration: underline wavy var(--highlight-color);
}
a:hover {
	background-color: var(--highlight-color);
	color: var(--background-color);
	text-decoration: underline wavy var(--background-color);
}
nav > a, nav > a:visited, nav > a:hover, nav > h1 > a, nav > h1 > a:visited, nav > h1 > a:hover {
	text-decoration: unset;
}
button {
	background-color: var(--background-color);
	color: var(--foreground-color);
}
button:hover, form, input, select, option {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
code, pre {
	color: var(--foreground-color);
}
hr {
	background: none;
	color: var(--foreground-color);
}
li::marker {
	color: var(--highlight-color);
}
/* Fonts */
html, body {
	font-family: var(--body-font-family);
	font-size: 28px;
}
nav {
	font-family: var(--small-font-family);
	font-size: 20px;
}
nav > h1 {
	font-family: var(--heading-font-family);
	font-size: 28px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font-family);
	font-weight: 900;
	line-height: 1.2em;
	text-transform: uppercase;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 28px;
}
h6 {
	font-size: 28px;
}
p {
	font-family: var(--body-font-family);
	font-size: 28px;
	line-height: 1.2em;
	text-align: start;
}
strong, b {
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
	text-decoration-style: double;
}
em, i {
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
	text-decoration-style: dashed;
}
strong > a, b > a, strong > a:visited, b > a:visited {
	letter-spacing: 8px;
	padding-left: 4px;
	padding-right: 4px;
	color: var(--highlight-color);
	text-decoration: overline wavy var(--highlight-color);
}
strong > a:hover, b > a:hover {
	background-color: var(--highlight-color);
	color: var(--background-color);
	text-decoration: overline wavy var(--background-color);
}
em > a, i > a, em > a:visited, i > a:visited {
	color: var(--highlight-color);
	text-decoration: overline wavy var(--highlight-color);
}
em > a:hover, i > a:hover {
	background-color: var(--highlight-color);
	color: var(--background-color);
	text-decoration: overline wavy var(--background-color);
}
/* While I don't use "em" + "strong" constructions, as they can confuse screen readers, there's always the possibility that something I'm quoting does this. As such, I need to have these rules ready for it.*/
strong > em, em > strong, b > i, i > b, b > em, em > b, strong > i, i > strong {
	letter-spacing: 6px;
	padding-left: 4px;
	padding-right: 4px;
}
strong > em > a, em > strong > a, b > i > a, i > b > a, b > em > a, em > b > a, strong > i > a, i > strong > a, strong > em > a:visited, em > strong > a:visited, b > i > a:visited, i > b > a:visited, b > em > a:visited, em > b > a:visited, strong > i > a:visited, i > strong > a:visited
 {
	color: var(--highlight-color);
	text-decoration: overline wavy var(--highlight-color);
}
strong > em > a:hover, em > strong > a:hover, b > i > a:hover, i > b > a:hover, b > em > a:hover, em > b > a:hover, strong > i > a:hover, i > strong > a:hover {
	background-color: var(--highlight-color);
	color: var(--background-color);
	text-decoration: overline wavy var(--background-color);
}
code, pre {
	font-family: var(--monospace-font-family);
	font-size: 25px;
	line-height: 1em
}
hr {
	font-family: var(--body-font-family);
	font-weight: normal;
	line-height: 1.75em;
	font-size: 28px;
}
li::marker {
	font-family: var(--body-font-family);
	font-weight: normal;
	font-size: 28px;
}
/* Position, width, flex, borders, paddings, margins, etc. */
html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	min-width: 100%;
	min-height: 100%;
}
nav {
	border-bottom: 2px solid #000000;
	padding: 15px;
	text-align: center
}
article {
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 15px;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	max-width: 1024px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding: 0px;
	text-align: center;
}
nav > h1 {
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
}
p {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
}
nav > p {
	text-align: center;
}
pre {
	border: 2px dashed var(--border-color);
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	margin-top: 0px;
	margin-bottom: 15px;
}
hr {
	border: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
}
ul {
	padding: 0px;
	margin-left: 21px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
}
li {
	padding-left: 5px;
}
/* Content, :after, :before */
hr::after {
	content: '* * *';
	display: block;
	text-align: center;
}
li::marker {
	content: '▪';
}
h1::before, h1::after {
	content: ' - '
}
h2::before, h2::after {
	content: ' -- '
}
h3::before, h3::after {
	content: ' --- '
}
h4::before, h4::after {
	content: ' ---- '
}
h5::before, h5::after {
	content: ' ----- '
}
h6::before, h6::after {
	content: ' ------ '
}
nav > h1::before, nav > h1::after {
	content: '';
}
